<mat-toolbar class="d-flex flex-row gap-1 header">
  <div class="d-flex gap-1">
    <button mat-button [routerLink]="['/index']" routerLinkActive="active">首页</button>
  </div>
  <span style="display:flex;flex:1 1 auto"></span>
  <div class="d-flex align-items-center align-content-center">
    @if (isLogin) {
    <button [matMenuTriggerFor]="appMenu" mat-button style="flex-direction: row-reverse;">
      {{username}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <span mat-menu-item>
        你好,{{username}}
      </span>
      <button mat-menu-item (click)="logout()">
        <span>登出</span>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
    }@else {
    <button mat-button (click)="login()">登录</button>
    }
  </div>
</mat-toolbar>
<app-navigation></app-navigation>