<div class="d-flex">
  <mat-toolbar class="box-shadow">
    <mat-toolbar-row style="font-size:16px">
      <div class="d-flex gap-1 align-items-center wrap">
        <!-- 筛选 -->

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>角色显示名称</mat-label>
          <input matInput placeholder="" [(ngModel)]='filter.name'>
          @if (filter.name) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.name = null">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>角色名，系统标识</mat-label>
          <input matInput placeholder="" [(ngModel)]='filter.nameValue'>
          @if (filter.nameValue) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filter.nameValue = null">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      
        <div class="d-flex">
          <button mat-flat-button (click)="getList()" color="primary">搜索</button>
        </div>
      </div>
      <div class="d-flex flex-grow-1"></div>
      <button mat-flat-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        添加
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- 加载框 -->
<div class="d-flex text-center justify-content-center mt-2">
  @if(isLoading){
  <mat-spinner mode="indeterminate"></mat-spinner>
  }

</div>

@if(!isLoading){
<div class="px-2">
  <!-- 无数据时显示 -->
  @if(data && data.length<=0){ <h4>
    暂无数据！
    </h4>
    }@else{
    <table class="default" mat-table [dataSource]="dataSource" style="width: 100%;" #table="matTable">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> 角色显示名称 </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="isSystem">
            <th mat-header-cell *matHeaderCellDef> 是否系统内置,系统内置不可删除 </th>
            <td mat-cell *matCellDef="let element"> {{element.isSystem}} </td>
          </ng-container>
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> CreatedTime </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
          </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let element;table:table">
          <button mat-icon-button class="secondary" (click)="openDetailDialog(element)" matTooltip="查看">
            <mat-icon>preview</mat-icon>
          </button>
          <button mat-icon-button class="primary" (click)="openEditDialog(element)" matTooltip="编辑">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="error" matTooltip="删除" (click)="deleteConfirm(element)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <div class="d-flex justify-content-between paginator">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>跳转到</mat-label>
        <input matInput type="number" [value]="filter.pageIndex" #pageJump (keyup.enter)="jumpTo(pageJump.value)">
      </mat-form-field>
      <mat-paginator [pageSizeOptions]="pageSizeOption" [pageIndex]="filter.pageIndex!-1" [pageSize]="filter.pageSize"
        [length]="total" (page)="getList($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
    }
</div>
}

<ng-template #myDialog>
  <h2 mat-dialog-title>标题</h2>
  <mat-dialog-content>

  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button color="primary">确认</button>
  </mat-dialog-actions>
</ng-template>

