.help table {
  /* 表格边框加间距 */
  border-collapse: collapse;
  margin: 0;

  & th {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid gray;
    padding-left: 8px;

  }

  & td {
    margin: 0;
    padding-left: 8px;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid gray;
  }
}