<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon class="clickable" matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>保存</span>
</mat-toolbar>
<form class="d-flex p-2" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>备注</mat-label>
          <input matInput formControlName="remark" placeholder=""/>
          <mat-error *ngIf="formGroup.get('remark')?.invalid">
            {{getValidatorMessage('remark')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>状态</mat-label>
          <mat-select formControlName="status" placeholder="请选择">
            <mat-option *ngFor="let item of CustomerStatus | toKeyValue" [value]="item.value">
              {{item.key}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder=""/>
          <mat-error *ngIf="formGroup.get('password')?.invalid">
            {{getValidatorMessage('password')}}
          </mat-error>
        </mat-form-field>
    <div class="d-flex mt-1 justify-content-end">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="edit()">保存</button>
    </div>
  </div>
</form>