.shortcuts {
  position: fixed;
  right: 4px;
  bottom: 4px;
  z-index: 2;
  padding: 4px;
}

.page {
  height: 100vh
}

.mat-toolbar {
  box-shadow: 0px 2px 10px 2px rgb(157 157 157);
  margin-bottom: 1px;
}